body {
  background-color: slategray;
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #38bdf8, #6366f1);
  border-radius: 10px;
}
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
  display: flex;
  width: max-content;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}
